<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>AB1D41C1-46BB-4EA6-8E0F-07C342159A7C</key>
		<dict>
			<key>BinderUUID</key>
			<string>AB1D41C1-46BB-4EA6-8E0F-07C342159A7C</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>482 260 475 528 0 0 1440 875 </string>
		</dict>
	</dict>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 650}}</string>
		<string>{{266, 0}, {980, 650}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>02B80B3D-4004-415E-B279-698B60512F1A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>057C63BA-4FA3-4EA6-8FE4-F61778E38DB1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>083FF9CA-AD2F-44FF-B08B-64FDC7614D59</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1091E117-C3F1-4927-A0D9-C70570A3C9B4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>156EF6D5-DD28-480F-98E7-8EF6D7DB978E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>162D0644-D549-4683-9EE5-5B21899E5C16</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1A1282C6-DA54-4B5E-8FFD-013CBC32DB69</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>27DF371A-1D12-4899-A7D8-C280F49B0B88</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2878DE26-FC88-402B-BE83-673E20ADF64A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2972A6C6-53FA-483B-897B-9CA176D113F6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2AB2963F-5701-4659-BC52-10DA92EC53A2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2B7667DB-E075-426F-B0A1-F92E1F2A1BEA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2ED58F03-038B-4766-92EF-32F9F70AF928</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2F16C935-DCBE-4A27-A885-E3E181107919</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2FA80FAB-2F79-4CF6-9F3C-10E3F37175D2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>30847531-EAEC-49C0-8329-430F97EEB309</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>353BA134-8841-4A50-82E6-978DA95761B4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3D0123AE-ACCC-463D-859A-A80FA1F0764C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3F5C4855-BB2C-4938-85C3-1C09A774B685</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>41BB8782-F9A2-437F-B594-DD11DB9B3EBE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>44709B0F-E0E1-4080-AAB1-C1D06F2436DA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>493495E8-61D5-4784-9365-AEA699E2D609</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>49DAD835-19CE-49EE-A917-FAB3EC1556BC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4AD82828-4A57-475D-8260-8EEDA7FAF043</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>54762E06-D746-4E90-91AA-3455FD9C9549</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>57C6FFD5-3BAB-4464-B11F-0E4FC19E0728</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>59495E4B-9645-499F-8573-BBF237B0BD4C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5E5DB7EB-0C3B-416C-BA59-685852258730</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>665D7282-58C6-460F-8A37-E0058DDBF701</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>687D79B0-9319-4754-B3BF-8DC17DEC9C91</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>75BCFFAF-6941-4287-BB8B-7A8D072FFE3D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>818B4414-E6DA-4693-85DE-369D94B4DF47</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>89CCD311-D1AA-4FCF-AF2B-E039DD129649</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>92094528-75A3-463B-97EC-C52AA0505F04</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9D66D50A-5FA0-4073-A43C-39D591926632</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9F13861D-CC27-428F-92E2-2373AE19908F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9FD22654-9853-4ACF-BC28-77392F975AD3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A488A9E3-4F43-449A-AF4A-25A6F6F9D1F2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A5035255-A149-486E-9ADE-BC416E32A486</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A720C941-C8A9-45EB-BE93-7AA924297167</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AB1D41C1-46BB-4EA6-8E0F-07C342159A7C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B26FD740-16DC-4BE8-86C9-79915E3C3B7F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B399772B-884B-4CC7-BBFE-C0713B70AE42</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B651C68B-4ED1-4EB4-A3BC-B40F977C1B42</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B91BC524-0199-432D-97A8-002E1B006B7A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BCCB1991-A4C4-442F-82DB-8A91DB208EA9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BF50199C-BF97-4896-ACFC-2DA487EF7BD9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C1ECFE2B-41CE-4712-8DBC-ED21924B0AC1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C5D8DDA7-F129-4200-8136-F4C2C95100C8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CBEAC9DC-4E65-47ED-AAB5-E2B8765FB6DB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CD58A06E-44B0-414A-8613-88CE0BFE5FDA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D2B74D70-4358-44E6-83D9-5BF80ABB511A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D494A3CD-BD2B-438B-B062-5ADB72D917EB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DC5EC25D-2300-4F69-8816-A3FFF0AAF57C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DC876AF2-8BA6-4261-A519-B0960205FEE4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DCD37590-FD3D-4DCA-81AA-6B1499C86417</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DD9E8178-373C-4777-89CA-717142714BC2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E8280F6B-EF92-424B-BD6B-198C9A9EF9E6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EB44C9AF-0096-4C82-A421-F0E49E8EA86A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ECC4F779-D1BC-44C7-B9ED-E436D1E3F5F4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F444A027-A9AC-418D-B1CE-05A3F8EB0403</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F57C7EC8-D905-40A7-AE0C-249DA92390EE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F812CA49-DF24-4982-91D4-B5E7CA86CCFF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FC05D4F1-91EF-45C6-BC08-26C05A324876</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FD0B8079-FBC6-44D6-B488-84598EC552F9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FF99D43E-5963-4436-93D2-195B0B52DCE6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {734, 620}}</string>
		<string>{{735, 0}, {245, 620}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{-57, 0}, {734, 564}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>0 197 1246 678 0 0 1440 875 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{-1, 0}, {621, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
